#此文件放在引擎的Engine目录下
/Binaries/*
/Build/*
/Config/*
/Content/*
/Saved/*
/Plugins/*
/Programs/*
/Saved/*
/DerivedDataCache/*
/Documentation/*
/Extras/*
/Intermediate/*
/Platforms/*

!/Source/Editor/UnrealEd/
!/Source/Runtime/Engine/

#C++ Common ignore files
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app